<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/:D</key>
	<string>emotion1.png</string>
	<key>/:)</key>
	<string>emotion2.png</string>
	<key>/:*</key>
	<string>emotion3.png</string>
	<key>/:8</key>
	<string>emotion4.png</string>
	<key>/D~</key>
	<string>emotion5.png</string>
	<key>/-(</key>
	<string>emotion6.png</string>
	<key>/-O</key>
	<string>emotion7.png</string>
	<key>/:$</key>
	<string>emotion8.png</string>
	<key>/CO</key>
	<string>emotion9.png</string>
	<key>/YD</key>
	<string>emotion10.png</string>
	<key>/;)</key>
	<string>emotion11.png</string>
	<key>/;P</key>
	<string>emotion12.png</string>
	<key>/:!</key>
	<string>emotion13.png</string>
	<key>/:0</key>
	<string>emotion14.png</string>
	<key>/:\</key>
	<string>emotion15.png</string>
	<key>/GB</key>
	<string>emotion16.png</string>
	<key>/:S</key>
	<string>emotion17.png</string>
	<key>/:?</key>
	<string>emotion18.png</string>
	<key>/:Z</key>
	<string>emotion19.png</string>
	<key>/88</key>
	<string>emotion20.png</string>
	<key>/SX</key>
	<string>emotion21.png</string>
	<key>/TY</key>
	<string>emotion22.png</string>
	<key>/OT</key>
	<string>emotion23.png</string>
	<key>/NM</key>
	<string>emotion24.png</string>
	<key>/:X</key>
	<string>emotion25.png</string>
	<key>/DR</key>
	<string>emotion26.png</string>
	<key>/:&lt;</key>
	<string>emotion27.png</string>
	<key>/ZB</key>
	<string>emotion28.png</string>
	<key>/BH</key>
	<string>emotion29.png</string>
	<key>/HL</key>
	<string>emotion30.png</string>
	<key>/XS</key>
	<string>emotion31.png</string>
	<key>/YH</key>
	<string>emotion32.png</string>
	<key>/KI</key>
	<string>emotion33.png</string>
	<key>/DX</key>
	<string>emotion34.png</string>
	<key>/KF</key>
	<string>emotion35.png</string>
	<key>/KL</key>
	<string>emotion36.png</string>
	<key>/LW</key>
	<string>emotion37.png</string>
	<key>/PG</key>
	<string>emotion38.png</string>
	<key>/XG</key>
	<string>emotion39.png</string>
	<key>/CF</key>
	<string>emotion40.png</string>
	<key>/TQ</key>
	<string>emotion41.png</string>
	<key>/DH</key>
	<string>emotion42.png</string>
	<key>/**</key>
	<string>emotion43.png</string>
	<key>/@@</key>
	<string>emotion44.png</string>
	<key>/:{</key>
	<string>emotion45.png</string>
	<key>/FN</key>
	<string>emotion46.png</string>
	<key>/0(</key>
	<string>emotion47.png</string>
	<key>/;&gt;</key>
	<string>emotion48.png</string>
	<key>/FD</key>
	<string>emotion49.png</string>
	<key>/ZC</key>
	<string>emotion50.png</string>
	<key>/JC</key>
	<string>emotion51.png</string>
	<key>/ZK</key>
	<string>emotion52.png</string>
	<key>/:(</key>
	<string>emotion53.png</string>
	<key>/LH</key>
	<string>emotion54.png</string>
	<key>/SK</key>
	<string>emotion55.png</string>
	<key>/$D</key>
	<string>emotion56.png</string>
	<key>/CY</key>
	<string>emotion57.png</string>
	<key>/%S</key>
	<string>emotion58.png</string>
	<key>/LO</key>
	<string>emotion59.png</string>
	<key>/PI</key>
	<string>emotion60.png</string>
	<key>/DB</key>
	<string>emotion61.png</string>
	<key>/MO</key>
	<string>emotion62.png</string>
	<key>/YY</key>
	<string>emotion63.png</string>
	<key>/FF</key>
	<string>emotion64.png</string>
	<key>/ZG</key>
	<string>emotion65.png</string>
	<key>/;I</key>
	<string>emotion66.png</string>
	<key>/XY</key>
	<string>emotion67.png</string>
	<key>/MA</key>
	<string>emotion68.png</string>
	<key>/GO</key>
	<string>emotion69.png</string>
	<key>/%@</key>
	<string>emotion70.png</string>
	<key>/ZD</key>
	<string>emotion71.png</string>
	<key>/SU</key>
	<string>emotion72.png</string>
	<key>/MI</key>
	<string>emotion73.png</string>
	<key>/BO</key>
	<string>emotion74.png</string>
	<key>/GI</key>
	<string>emotion75.png</string>
	<key>/DS</key>
	<string>emotion76.png</string>
	<key>/YS</key>
	<string>emotion77.png</string>
	<key>/DY</key>
	<string>emotion78.png</string>
	<key>/SZ</key>
	<string>emotion79.png</string>
	<key>/DP</key>
	<string>emotion80.png</string>
</dict>
</plist>
